html {
  max-width: 100%;
  height: 100%;
  padding: 20px;
  overflow-x: hidden;
}

body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif
  ;
  padding: 20px;

}

.App {
  max-width: 100%;
  max-height: 100%;
  animation: AApp 5s forwards;
}

.container {
  margin: 50px auto;
  height: 40%;
  width: 450px;
  padding: 2%;
  white-space: nowrap; 
  
}

.block {
  color: white;
  backdrop-filter: blur(80px);
  border-radius: 5%;
  margin: 0 0 1% 0;
  padding: 5% 5% ;
}

.icons_menu {
  max-height: 50px;
  max-width: 15%;
  display: block;
  margin: 0 0 0 2%;
  cursor: pointer;
  padding: 1%; 
  margin: 0 0 0 95%;
}

@media (max-width: 500px) {
  .icons_menu {
    display: none;
  }

  .container {
    width: 95%;
  }
}

.icons_menu img { 
  width: 2%;
  position: fixed;
  z-index: 1000;
  transition: 1s ;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  )
}

.icons_menu:hover  img {
  transform: scale(1.2);
}