.block_menu {
  height: 100%;
  width: 300px;
  display: block;
  color: white;
  margin: 0 0 0 2%;
  cursor: pointer;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 1%; 
  position: fixed;
  animation: slideInLeft 1s forwards;
  font-family: sans-serif;
}

.hide {
  height: 100%;
  width: 15%;
  display: inline-block;
  color: white;
  margin: 0 0 0 2%;
  cursor: pointer;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 1%; 
  position: fixed;
  animation: slideOutLeft 0.3s forwards;
}

.close_favorite_window {
  margin: 90% ;
  cursor: pointer;
  transition: transform 0.3s forwards;
}

.itemFavoriteCity {
  display: flex;
  width: 88%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 5% 0;
  border : 1px solid #fff;
}

.itemFavoriteCity span {
  margin: 1% 5%;
  cursor: pointer;
  transition: 0.3s;
}

.delete_favorite_city {
  float: right;
  transition: transform 0.3s ease;
}

.itemFavoriteCity:hover span {
  transform: scale(1.2);
}

.nameItemCity:hover {
  transform: scale(1.2);
}

.close_favorite_window:hover {
  transform: scale(1.2);
}

.delete_favorite_city:hover {
  transform: scale(1.2);
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-150%); 
  }
  100% {
    transform: translateX(0); 
  }
}

@media(max-width: 500px) {
  .block_menu {
    display: none;
  }
  .hide {
    display: none;
  }
}


@keyframes openModalWindowMobile {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}


@keyframes closeModalWindowMobile {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}