html {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
}

.App {
  max-width: 100%;
  max-height: 100%;
  animation: AApp 5s forwards;
}

.container {
  margin: 50px auto;
  height: 40%;
  width: 30%;
  padding: 2%;
  white-space: nowrap; 
}

.block {
  color: white;
  backdrop-filter: blur(80px);
  border-radius: 5%;
  margin: 0 0 1% 0;
  padding: 5% 5% ;
}

.icons_menu {
  height: 100%;
  width: 15%;
  display: inline-block;
  color: white;
  margin: 0 0 0 2%;
  cursor: pointer;
  border-radius: 10px;
  padding: 1%; 
  position: fixed;
}

.icons_menu img { 
  width: 2%;
  position: fixed;
  z-index: 1000;
  transition: 1s ;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  )
}


.icons_menu:hover  img {
  transform: scale(1.2);
}